body{
    background:#1a0734;
    margin:0;
    font-family:system-ui;
    color:#fff;
    text-align:center;
}

.container{
    padding:20px;
}

.title{
    font-size:28px;
    font-weight:700;
    margin-bottom:10px;
    color:#ffdbfa;
}

#cardArea{
    margin-top:30px;
    display:flex;
    justify-content:center;
}

#scratchCard{
    width:300px;
    height:300px;
    position:relative;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
}

#scratch{
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background:#bbb;
}

#prizeText{
    position:absolute;
    top:50%; left:50%;
    transform:translate(-50%,-50%);
    font-size:22px;
    font-weight:700;
    color:#3a005e;
}
button{
    background:#8a2be2;
    color:#fff;
    padding:12px 20px;
    border:none;
    border-radius:12px;
    margin-top:20px;
    font-size:17px;
    font-weight:600;
}
button:disabled{
    opacity:0.4;
}